streamlit==1.30.0
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
xgboost==2.0.3
scikit-learn==1.5.1
catboost==1.2.5
matplotlib==3.9.2
lightgbm==4.5.0
gbm==0.0.1
ann==0.1.0
dt==1.1.72
et==0.0.2
knn==1.0.0
rf==1.1.0
svm==0.1.0
